.Quote {
    background-image: url(../../Assets/Jumbo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    flex-direction:column;
    height: 100vh;
    //justify-content: center;
    align-items: center;
}
.card-wrapper{
    display:flex;
    flex-wrap:wrap;
    background-color: rgba(0, 0, 0, .6) !important;
    overflow:scroll;
    justify-content: center;
    .quoteCard{
        background-color:rgba(0, 0, 0, .6) !important;
    }
    .card-wrapper::-webkit-scrollbar {
        width: 3px !important;
      }
       
      .card-wrapper::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
       
      .card-wrapper::-webkit-scrollbar-thumb {
        background-color: green !important;
        outline: 1px solid red !important;
      }
}