.navbar-wrapper{
    width:100%;
    .bg-dark{
        background-color: #150213 !important;
    }
    .navbar-dark{
        .navbar-nav{
            .nav-link{
                color:rgb(136, 101, 133) !important;
            }
        } 
    } 
        
}